* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Heebo', sans-serif;
}

/*navbar Section*/
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  position: sticky;
  top: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px 0px;
}

.navbar ul li {
  font-size: 1.25rem;
  font-weight: bold;
}

.navbar ul li a {
  text-decoration: none;
  padding: 8px 60px;
  margin: 10px;
  color: lightgray;
  transition: all .75s ease;
}

.navbar ul li a:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px whitesmoke;
  border-radius: 4px;
  justify-content: center;
}

/*Home Section*/
#home {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
  /*position: absolute;*/
  height: 818px;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: aquamarine
}

#home::before {
  content: "";
  position: absolute;
  background: url("../img/img1.jpg") no-repeat center center/cover;
  top: 0;
  right: 0;
  height: 900px;
  width: 100%;
  z-index: -1;
  opacity: .75
}

.intro {
  display: flex;
  flex-direction: column;
  border: 1px solid aquamarine;
  border-radius: 4px;
  width: 240px;
  padding: 10px;
  top: 20%;
}

h1 {
  font-size: 3rem;
  margin: 50px 0px;
}

/*about me*/
#about-me {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
}

.about-intro {
  display: flex
}

.about-intro img {
  width: 45%;
  height: auto;
  padding: 10px;
}

.bio {
  display: grid;
  padding: 10px;
}

.bio h2 h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.bio p {
  font-size: 1rem;
}

span {
  color: rgb(20, 123, 67);
}